@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
/*navbar styling*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'ubuntu', sans-serif;

}
.navbar .sticky{
    padding: 30px 0;
    color: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-left: 25px;
    transition: 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;


}
/*menu btn styling*/
.menubtn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    

}


/*home content styling*/
.home{
    display: flex;
    height: 100vh;
    background: url("../img/ko.jpg");
    color: #fff;
    /*here back ground image needs to be uploaded then add color=#fff*/
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;

}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .homcontent .text1{
    font-size: 27px;

}
.home .homecontent .text2{
    font-size: 70px;

}
.home .homecontent .text3{
    font-size: 35px;
}

.home .homecontent .text3 span{
    color: crimson;
    font-weight: 500;
}
/*media queries*/
@media(max-width:1100px){
    .home .max-width{
    margin-left: 0;
}
@media(max-width:991px){
    .home .max-width{
        margin: auto 0 auto 30px;
    }
}
@media(max-width:670px){
    .max-width{
        padding: 0 , 23px;
    }
    .home .homecontent .text2{
    font-size: 60px;

}
.home .homecontent .text3{
    font-size: 32px;
}

}


}
@media(max-width:982px){
    .max-width{
        padding: 0 30px;
    }
    .menubtn{
        display: block;
        z-index:999;
        
    
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0%;
        left: -100%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all0.3sec;


    }
    .menubtn i.active::before{
        content: "\f00d";
    }
    .navbar .menu.active{
        left: 0%;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 25px 0;
        font-size: 25px;
    }


}