@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background: url('ko.jpg');
    
}

/*navbar styling*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
    z-index: 999;

}
.navbar .sticky{
    padding: 30px 0;
    color: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-left: 25px;
    transition: 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;


}
/*menu btn styling*/
.menubtn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    

}


/*home content styling*/
.home{
    display: flex;
    height: 100vh;
    background: url("ko.jpg");
    color: #fff;
    /*here back ground image needs to be uploaded then add color=#fff*/
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;

}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .homcontent .text1{
    font-size: 27px;

}
.home .homecontent .text2{
    font-size: 70px;

}
.home .homecontent .text3{
    font-size: 35px;
}

.home .homecontent .text3 span{
    color: crimson;
    font-weight: 500;
}
//*---------------------------------------ABOUT SECTION STYLING-----------------*/
section{
    padding: 100px 0;
}




.aboutme ,.skills .contact{
    font-family: 'Poppins' , sans-serif;
}

.aboutme .title{
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 20px;

}
.aboutme .title::before{
    content:"";
    position: absolute;
    bottom: -64px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);


}
.aboutme .title::after{
    content:"who i am";
    position: absolute;
    bottom: -75px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    background: crimson;
    transform: translateX(-50%);
    background-color: #111;


}
.aboutme .abtcontent ,
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.aboutme .abtcontent .column-left {
    width: 50%;
}


.aboutme .abtcontent .column-left  img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.aboutme .abtcontent .column-right{
    width: 45%;
}
.aboutme .abtcontent .column-right .text{
    width: 95%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aboutme .abtcontent .column-right .text p{
    text-align: justify;
}


/*--------------------------SKILLS SECTION STYLING----------------------*/
.skills .skills-content , .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 40vh;
    font-family: "poppins" , sans-serif;
    
}
.skills .skills-content .left .text{
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.skills .skills-content .column{
    width:calc(50% - 30px);
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left .exp{
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 60vh;
}
.skills .skills-content .right .bars{
    margin-bottom: 10px;
    
    
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background:#fff;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 80;
    top: 0;
    background: orchid;
}
.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 50%;
}
.skills-content .right .python::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 40%;
}


.skills .skills-content .right span{
    font-weight:500;
    font-size: 18px;
    color: crimson;

}
/*--------------------------CONTACT STYLING------------------------------------------------------------*/


.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #fff;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}




























/*----------------------------------------------------media queries------------------------------------------*/
@media(max-width:1300px){
    .home .max-width{
    margin-left: 0;}    
}
@media(max-width:1100px){
    .aboutme .abtcontent .column-left img{
        height: 200px;
        width: 200px;
        align-content: center;
    }
}
@media(max-width:991px){
    .home .max-width{
        margin: auto 0 auto 30px;
    }
}
@media(max-width:670px){
    .max-width{
        padding: 0 , 23px;
    }
    .home .homecontent .text2{
    font-size: 60px;

}
.home .homecontent .text3{
    font-size: 32px;
}
.skills .skills-content .column{
    width: 100%;
}
.max-width{
    max-width: 500px;
}
.aboutme .abtcontent .column-right{
    width: 100%;
}
.aboutme .abtcontent .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
.aboutme .abtcontent .right{
    flex: 100%;
}


}
@media(max-width:982px){
    .max-width{
        padding: 0 30px;
    }
    .menubtn{
        display: block;
        z-index:999;
        
    
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0%;
        left: -100%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all0.3sec;


    }
    .menubtn i.active::before{
        content: "\f00d";
    }
    .navbar .menu.active{
        left: 0%;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 25px 0;
        font-size: 25px;
    }
    .skills .skills-content .column{
        width: 100%;
    }


}
